doctype html
html(lang='en')
    head
        title Star Tracker Ground Control
        style
            include style.css
        script
            include index.js
    body
        main
            h1 Star Tracker Ground Control
            div#status
            button#butt
            
