doctype html
html(lang='en')
    head
        title Star Tracker Ground Control
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width,initial-scale=1')
        style
            include style.css
        script
            include index.js
    body
        main
            h1 Star Tracker Ground Control
            div.step_mode_container
                label(for='step_mode') Step Mode:
                select(name='step_mode' id='step_mode')
                    option(value=1) Full
                    option(value=2) 1&frasl;2
                    option(value=4) 1&frasl;4
                    option(value=8) 1&frasl;8
                    option(value=16) 1&frasl;16
            div.start_container
                div.star.flip
                    include icons/star.svg
                button#rewind.flip
                    include icons/forward.svg
                button#play_stop
                    span#play
                        include icons/play.svg
                    span#stop.hide
                        include icons/stop.svg
                button#ffwd
                    include icons/forward.svg
                div.star
                    include icons/star.svg
            div#status
